<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Profile</title>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/registrationEsbnController.js"></script>

</head>
<body ng-app="registrationEsbnController"
	ng-controller="requestRegistration">
	<section layout:fragment="header">
		<h1>Profile</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Profile</li>
		</ol>
	</section>


	<div layout:fragment="content">
		<br></br>
		<div class="tab-pane 1 active" id="registrationEsbn" role="tabpanel"
			aria-labelledby="registrationEsbn-tab">
			<div class="container">
				<div class="row">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="sid" class="col-sm-3 control-label text-left"
								style="text-align: left">SID</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.sid"
									th:attr="ng-init='registasiInfo.sid=\''+${esbnProfiel.sid}+'\''"
									th:value="${esbnProfiel.sid}" class="form-control" id="sid" />
							</div>
						</div>
						<div class="form-group">
							<label for="namaNasabah" class="col-sm-3 control-label pull-left"
								style="text-align: left">Nama Nasabah</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.nama"
									th:attr="ng-init='registasiInfo.nama=\''+${esbnProfiel.nama}+'\''"
									th:value="${esbnProfiel.nama}" name="nama" class="form-control"
									id="namaNasabah" />
							</div>
						</div>
						<div class="form-group">
							<label for="sid" class="col-sm-3 control-label text-left"
								style="text-align: left">No KTP</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.noIdentitas"
									th:attr="ng-init='registasiInfo.noIdentitas=\''+${esbnProfiel.noIdentitas}+'\''"
									th:value="${esbnProfiel.noIdentitas}" class="form-control"
									id="sid" />
							</div>
						</div>
						<div class="form-group">
							<label for="maxPes" class="col-sm-3 control-label pull-left"
								style="text-align: left">Tempat Lahir</label>
							<div class="col-sm-2">
								<input type="text" ng-model="registasiInfo.tempatLahir"
									th:attr="ng-init='registasiInfo.tempatLahir=\''+${esbnProfiel.tempatLahir}+'\''"
									th:value="${esbnProfiel.tempatLahir}" class="form-control"
									id="maxPes" />
							</div>
							<label for="maxPes" class="col-sm-1 control-label pull-left"
								style="text-align: left">Tanggal Lahir</label>
							<div class="col-sm-2">
								<input type="text" ng-model="registasiInfo.tglLahir"
									th:attr="ng-init='registasiInfo.tglLahir=\''+${esbnProfiel.tglLahir}+'\''"
									th:value="${esbnProfiel.tglLahir}" class="form-control"
									id="maxPes" />

							</div>
						</div>
						<div class="form-group">
							<label for="kelipatanPes"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">Jenis Kelamin</label>
							<div class="col-sm-5">
								<input type="text" ng-model="registasiInfo.jenisKelamin"
									th:attr="ng-init='registasiInfo.jenisKelamin=\''+${esbnProfiel.jenisKelamin}+'\''"
									th:value="${esbnProfiel.jenisKelamin}" class="form-control"
									id="kelipatanPes" /> <input type="hidden"
									ng-model="registasiInfo.kdJenisKelamin"
									th:attr="ng-init='registasiInfo.kdJenisKelamin=\''+${esbnProfiel.kdJenisKelamin}+'\''"
									th:value="${esbnProfiel.kdJenisKelamin}" class="form-control"
									id="kelipatanPes" />
							</div>
						</div>
						<div class="form-group">
							<label for="subRegNo" class="col-sm-3 control-label pull-left"
								style="text-align: left">Jenis Pekerjaan</label>
							<div class="col-sm-5">
								<input type="text" ng-model="registasiInfo.jenisPekerjaan"
									th:attr="ng-init='registasiInfo.jenisPekerjaan=\''+${esbnProfiel.Pekerjaan}+'\''"
									th:value="${esbnProfiel.Pekerjaan}" class="form-control"
									id="subRegNo" /> <input type="hidden"
									ng-model="registasiInfo.kdPekerjaan"
									th:attr="ng-init='registasiInfo.kdPekerjaan=\''+${esbnProfiel.kdPekerjaan}+'\''"
									th:value="${esbnProfiel.kdPekerjaan}" class="form-control"
									id="subRegNo" />
							</div>
						</div>

						<div class="form-group">
							<label for="nominal" class="col-sm-3 control-label pull-left"
								style="text-align: left">Alamat</label>
							<div class="col-sm-5">
								<input type="text" ng-model="registasiInfo.alamat"
									th:attr="ng-init='registasiInfo.alamat=\''+${esbnProfiel.alamat}+'\''"
									th:value="${esbnProfiel.alamat}" class="form-control"
									id="nominal" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuota" class="col-sm-3 control-label pull-left"
								style="text-align: left">Provinsi</label>
							<div class="col-sm-2">
								<input type="text" ng-model="registasiInfo.provinsi"
									th:attr="ng-init='registasiInfo.provinsi=\''+${esbnProfiel.provinsi}+'\''"
									th:value="${esbnProfiel.provinsi}" class="form-control"
									id="sisaKuota" />
							</div>
							<label for="sisaKuota" class="col-sm-1 control-label pull-left"
								style="text-align: left">Kota</label>
							<div class="col-sm-2">
								<input type="text" ng-model="registasiInfo.kota"
									th:attr="ng-init='registasiInfo.kota=\''+${esbnProfiel.kota}+'\''"
									th:value="${esbnProfiel.kota}" class="form-control"
									id="sisaKuota" /> <input type="hidden"
									ng-model="registasiInfo.kdKota"
									th:attr="ng-init='registasiInfo.kdKota=\''+${esbnProfiel.kdKota}+'\''"
									th:value="${esbnProfiel.kdKota}" class="form-control"
									id="sisaKuota" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">No. Telepon</label>
							<div class="col-sm-2">
								<input type="text" ng-model="registasiInfo.noTelp"
									th:attr="ng-init='registasiInfo.noTelp=\''+${esbnProfiel.noTelp}+'\''"
									th:value="${esbnProfiel.noTelp}" class="form-control"
									id="sisaKuotaSeri" />
							</div>
							<label for="sisaKuotaSeri"
								class="col-sm-1 control-label pull-left"
								style="text-align: left">No. Handphone</label>
							<div class="col-sm-2">
								<input type="text" th:value="${esbnProfiel.noHp}"
									ng-model="registasiInfo.noHp"
									th:attr="ng-init='registasiInfo.noHp=\''+${esbnProfiel.noHp}+'\''"
									class="form-control" id="sisaKuotaSeri" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">Email</label>
							<div class="col-sm-5">
								<input type="text" ng-model="registasiInfo.email"
									th:attr="ng-init='registasiInfo.email=\''+${esbnProfiel.email}+'\''"
									th:value="${esbnProfiel.email}" class="form-control"
									id="sisaKuotaSeri" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">Nama Subregistry</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="sisaKuotaSeri"
									th:attr="ng-init='registasiInfo.namaSubregistry=\''+${esbnProfiel.namaSubregistry}+'\''"
									th:value="${esbnProfiel.namaSubregistry}" />
							</div>
						</div>
						<div class="form-group">
							<label for="memorandum" class="col-sm-3 control-label pull-left"
								style="text-align: left">No Rek. Surat Berharga</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled" class="form-control"
									ng-model="registasiInfo.noRekSuratBerharga"
									th:attr="ng-init='registasiInfo.noRekSuratBerharga=\''+${esbnProfiel.RekeningSB}+'\''"
									id="memorandum" th:value="${esbnProfiel.RekeningSB}" />
							</div>
						</div>
						<div class="form-group">
							<label for="memorandum" class="col-sm-3 control-label pull-left"
								style="text-align: left">No Rekening Dana</label>
							<div class="col-sm-5">
								<select class="form-control" ng-model="noRekeningDana">
									<option value="" disabled="disabled" selected="selected">--
										No Rekening Dana --</option>
									<option th:each="noRek : ${esbnProfiel.RekeningDana}"
										th:value="${noRek.noRekening}" th:text="${noRek.noRekening}"></option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>