<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Profile</title>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/registrationEsbnController.js"></script>
 
</head>
<body ng-app="registrationEsbnController"
	ng-controller="requestRegistration">
	<section layout:fragment="header">
		<h1>Profile</h1>
<!-- 		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Profile</li>
		</ol> -->
	</section>


	<div layout:fragment="content">
		<br></br>
		<div class="tab-pane 1 active" id="registrationEsbn" role="tabpanel"
			aria-labelledby="registrationEsbn-tab">
			<div class="container">
				<div class="row">
					<form th:if="${esbnProfiel.valid == true}" class="form-horizontal">
						<div class="form-group">
							<label for="sid" class="col-sm-3 control-label text-left"
								style="text-align: left">SID</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.sid"
									th:attr="ng-init='registasiInfo.sid=\''+${esbnProfiel.investor.sid}+'\''"
									th:value="${esbnProfiel.investor.sid}" class="form-control"
									id="sid" />
							</div>
						</div>
						<div class="form-group">
							<label for="namaNasabah" class="col-sm-3 control-label pull-left"
								style="text-align: left">Nama Investor</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.nama"
									th:attr="ng-init='registasiInfo.nama=\''+${esbnProfiel.investor.nama}+'\''"
									th:value="${esbnProfiel.investor.nama}" name="nama"
									class="form-control" id="namaNasabah" />
							</div>
						</div>
						<div class="form-group">
							<label for="sid" class="col-sm-3 control-label text-left"
								style="text-align: left">Nomor KTP</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.noIdentitas"
									th:attr="ng-init='registasiInfo.noIdentitas=\''+${esbnProfiel.investor.noIdentitas}+'\''"
									th:value="${esbnProfiel.investor.noIdentitas}"
									class="form-control" id="sid" />
							</div>
						</div>
						<div class="form-group">
							<label for="maxPes" class="col-sm-3 control-label pull-left"
								style="text-align: left">Tempat Lahir</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.tempatLahir"
									th:attr="ng-init='registasiInfo.tempatLahir=\''+${esbnProfiel.investor.tempatLahir}+'\''"
									th:value="${esbnProfiel.investor.tempatLahir}"
									class="form-control" id="maxPes" />
							</div>
						</div>
						<div class="form-group">
							<label for="maxPes" class="col-sm-3 control-label pull-left"
								style="text-align: left">Tanggal Lahir</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.tglLahir"
									th:attr="ng-init='registasiInfo.tglLahir=\''+${esbnProfiel.investor.tglLahir}+'\''"
									th:value="${esbnProfiel.investor.tglLahir}"
									class="form-control" id="maxPes" />

							</div>
						</div>
						<div class="form-group">
							<label for="kelipatanPes"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">Jenis Kelamin</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.jenisKelamin"
									th:attr="ng-init='registasiInfo.jenisKelamin=\''+${esbnProfiel.investor.jenisKelamin}+'\''"
									th:value="${esbnProfiel.investor.jenisKelamin}"
									class="form-control" id="kelipatanPes" /> <input type="hidden"
									disabled="disabled" ng-model="registasiInfo.kdJenisKelamin"
									th:attr="ng-init='registasiInfo.kdJenisKelamin=\''+${esbnProfiel.investor.kdJenisKelamin}+'\''"
									th:value="${esbnProfiel.investor.kdJenisKelamin}"
									class="form-control" id="kelipatanPes" />
							</div>
						</div>
						<div class="form-group">
							<label for="subRegNo" class="col-sm-3 control-label pull-left"
								style="text-align: left">Jenis Pekerjaan</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.jenisPekerjaan"
									th:attr="ng-init='registasiInfo.jenisPekerjaan=\''+${esbnProfiel.investor.Pekerjaan}+'\''"
									th:value="${esbnProfiel.investor.Pekerjaan}"
									class="form-control" id="subRegNo" /> <input type="hidden"
									disabled="disabled" ng-model="registasiInfo.kdPekerjaan"
									th:attr="ng-init='registasiInfo.kdPekerjaan=\''+${esbnProfiel.investor.kdPekerjaan}+'\''"
									th:value="${esbnProfiel.investor.kdPekerjaan}"
									class="form-control" id="subRegNo" />
							</div>
						</div>

						<div class="form-group">
							<label for="nominal" class="col-sm-3 control-label pull-left"
								style="text-align: left">Alamat</label>
							<div class="col-sm-5">
								<textarea  disabled="disabled"
									ng-model="registasiInfo.alamat"
									th:attr="ng-init='registasiInfo.alamat=\''+${esbnProfiel.investor.alamat}+'\''"
									th:value="${esbnProfiel.investor.alamat}" class="form-control"
									id="nominal" ></textarea>
							</div>
						</div>
						<div class="form-group">
						<label for="sisaKuota" class="col-sm-3 control-label pull-left"
								style="text-align: left">Kabupaten/kota</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.kota"
									th:attr="ng-init='registasiInfo.kota=\''+${esbnProfiel.investor.kota}+'\''"
									th:value="${esbnProfiel.investor.kota}" class="form-control"
									id="sisaKuota" /> <input type="hidden" disabled="disabled"
									ng-model="registasiInfo.kdKota"
									th:attr="ng-init='registasiInfo.kdKota=\''+${esbnProfiel.investor.kdKota}+'\''"
									th:value="${esbnProfiel.investor.kdKota}" class="form-control"
									id="sisaKuota" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuota" class="col-sm-3 control-label pull-left"
								style="text-align: left">Propinsi</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.provinsi"
									th:attr="ng-init='registasiInfo.provinsi=\''+${esbnProfiel.investor.provinsi}+'\''"
									th:value="${esbnProfiel.investor.provinsi}"
									class="form-control" id="sisaKuota" />
							</div>
							
						</div>
						<div class="form-group">
						<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">No. Handphone</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									th:value="${esbnProfiel.investor.noHp}"
									ng-model="registasiInfo.noHp"
									th:attr="ng-init='registasiInfo.noHp=\''+${esbnProfiel.investor.noHp}+'\''"
									class="form-control" id="sisaKuotaSeri" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">No. Telepon Rumah</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.noTelp"
									th:attr="ng-init='registasiInfo.noTelp=\''+${esbnProfiel.investor.noTelp}+'\''"
									th:value="${esbnProfiel.investor.noTelp}" class="form-control"
									id="sisaKuotaSeri" />
							</div>
							
						</div>
						<div class="form-group">
							<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">Email</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									ng-model="registasiInfo.email"
									th:attr="ng-init='registasiInfo.email=\''+${esbnProfiel.investor.email}+'\''"
									th:value="${esbnProfiel.investor.email}" class="form-control"
									id="sisaKuotaSeri" />
							</div>
						</div>
						<div class="form-group">
							<label for="sisaKuotaSeri"
								class="col-sm-3 control-label pull-left"
								style="text-align: left">Nama Subregistry</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled" class="form-control"
									id="sisaKuotaSeri"
									th:attr="ng-init='registasiInfo.namaSubregistry=\''+${esbnProfiel.investor.namaSubregistry}+'\''"
									th:value="${esbnProfiel.investor.namaSubregistry}" />
							</div>
						</div>
						<div class="form-group">
							<label for="memorandum" class="col-sm-3 control-label pull-left"
								style="text-align: left">No Rek. Surat Berharga</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled" class="form-control"
									ng-model="registasiInfo.noRekSuratBerharga"
									th:attr="ng-init='registasiInfo.noRekSuratBerharga=\''+${esbnProfiel.investor.RekeningSB}+'\''"
									id="memorandum" th:value="${esbnProfiel.investor.RekeningSB}" />
							</div>
						</div>
						<div class="form-group">
							<label for="memorandum" class="col-sm-3 control-label pull-left"
								style="text-align: left">No Rekening Dana</label>
							<div class="col-sm-5">
								<select class="form-control" ng-model="noRekeningDana">
									<option value="" disabled="disabled" selected="selected">--
										No Rekening Dana --</option>
									<option th:each="noRek : ${esbnProfiel.investor.RekeningDana}"
										th:value="${noRek.noRekening}" th:text="${noRek.noRekening}"></option>
								</select>
							</div>
						</div>
					</form>
					<div th:unless="${esbnProfiel.valid == true}">
						<h2>
							<span class="label label-danger" th:text="${esbnProfiel.reason}"></span>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>