<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu"> 
        <li class="treeview">
             <a th:href="@{/}" onclick="location.reload();">
              <div class="text-center">
                <img th:src="@{/dist/img/keperluanEsbn/beranda.png}" style="height: 50px; width: 100px;" />
<!--                 <span>Beranda</span> -->
               </div>    
             </a>
        </li>
        <li class="treeview">
             <a href="#">
              <div class="text-center">
                <img th:src="@{/dist/img/keperluanEsbn/profile.png}" style="height:50px; width: 100px;" />
<!--                 <span>Profil Investor</span> -->
             </div>
            </a>
             <ul class="treeview-menu">
                <li><a th:href="@{/esbn-registration}" onclick="location.reload();"><i class="glyphicon glyphicon-pencil"></i> Registrasi</a></li>
                <li><a th:href="@{/esbn-profile}" onclick="location.reload();"><i class="glyphicon glyphicon-eye-open"></i> Profile</a></li>
            </ul>
        </li>
        <li class="treeview">
              <a href="#">
              <div class="text-center">
                <img th:src="@{/dist/img/keperluanEsbn/transaksi.png}" style="height: 50px; width: 100px;" />
             </div>
             </a>
              <ul class="treeview-menu">
                <li th:if="${aktive_menu}"><a th:href="@{/transaksi-pemesanan}"  onclick="location.reload();"><i class="glyphicon glyphicon-shopping-cart"></i> Pemesanan </a></li>
                <li th:if="${aktive_menu}"><a th:href="@{/transaksi-earlyRedemption}"  onclick="location.reload();"><i class="glyphicon glyphicon-tag"></i> Early Redemption</a></li>
            </ul>
        </li>
        <li class="treeview">
           <a href="#">
              <div class="text-center">
                <img th:src="@{/dist/img/keperluanEsbn/monitoring.png}" style="height: 50px; width: 100px;" />
             </div>
             </a>
            <ul class="treeview-menu">
                <li th:if="${aktive_menu}"><a th:href="@{/esbn-monitoring-pemesanan}" onclick="location.reload();"><i class="glyphicon glyphicon-bookmark"></i>Monitoring Pemesanan</a></li>
                <li th:if="${aktive_menu}"><a th:href="@{/esbn-monitoring-earlyRedemption}" onclick="location.reload();"><i class="glyphicon glyphicon-bookmark"></i>Monitoring Early Redemption</a></li>
                <li th:if="${aktive_menu}"><a th:href="@{/portofolio}" onclick="location.reload();"><i class="glyphicon glyphicon-bookmark"></i>Portofolio Report</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->