<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Dashboard</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<form class="form-horizontal" style="font-family:  Calibri;">
					<fieldset id="commentFS">
						<legend><b>Selamat Datang dan Terima Kasih Atas Kepercayaan Anda Menggunakan Layanan e-SBN Bank Mega</b></legend>
						<div class="form-group">
							<label for="namaNasabah" class="col-sm-3 control-label pull-left"
								style="text-align: left">Nama Nasabah</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									th:value="${nasabah.nama}" class="form-control"
									id="namaNasabah" />
							</div>
						</div>
						<div class="form-group">
							<label for="noktp" class="col-sm-3 control-label pull-left"
								style="text-align: left">No. KTP</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									th:value="${nasabah.noKtp}" class="form-control" id="noktp" />
							</div>
						</div>
						<div class="form-group">
							<label for="sid" class="col-sm-3 control-label text-left"
								style="text-align: left">SID</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled" class="form-control"
									id="sid" th:value="${nasabah.sid}" />
							</div>
						</div>
<!-- 						<div class="form-group" ng-if="false"> -->
<!-- 							<label for="noSurat" class="col-sm-3 control-label text-left" -->
<!-- 								style="text-align: left">Nomor Rekening Surat Berharga</label> -->
<!-- 							<div class="col-sm-5"> -->
<!-- 								<input type="text" disabled="disabled" class="form-control" -->
<!-- 									id="noSurat" th:value="${nasabah.rekeningSuratBerharga}" /> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="form-group" ng-if="false"> -->
<!-- 							<label for="norek" class="col-sm-3 control-label text-left" -->
<!-- 								style="text-align: left">Nomor Rekening Dana</label> -->
<!-- 							<div class="col-sm-5"> -->
<!-- 								<input type="text" disabled="disabled" -->
<!-- 									th:value="${nasabah.rekeningDana}" class="form-control" -->
<!-- 									id="norek" /> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<div class="form-group">
							<label for="nohp" class="col-sm-3 control-label pull-left"
								style="text-align: left">No. Handphone</label>
							<div class="col-sm-5">
								<input type="text" disabled="disabled"
									th:value="${nasabah.noHandphone}" class="form-control"
									id="nohp" />
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-3 control-label pull-left"
								style="text-align: left">E-mail</label>
							<div class="col-sm-5">
								<input type="email" disabled="disabled"
									th:value="${nasabah.email}" class="form-control" id="email" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>