<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Transaksi Pemesanan</title>

<link rel="stylesheet" href="style/loading-component.css" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/TransactionController.js"></script>


</head>
<body ng-app="transactionController" ng-controller="transaksiPemesanan">

	<section layout:fragment="header">
		<h1>Transaksi Pemesanan</h1>
	</section>
	<div layout:fragment="content">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item 1 active"><a class="nav-link active"
				id="transaction-tab" data-toggle="tab" ng-disabled="true" role="tab"
				aria-controls="transaction" aria-selected="true"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9312;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Masukkan
						Pemesanan Transaksi&nbsp;</span></a></li>
			<li class="nav-item 2"><a class="nav-link" id="confirm-tab"
				data-toggle="tab" role="tab" aria-controls="confirm"
				aria-selected="false" ng-disabled="true"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9313;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Konfirmasi
						Pemesanan&nbsp;</span></a></li>
			<li class="nav-item 3"><a class="nav-link" ng-disabled="true"
				id="finish-tab" data-toggle="tab" role="tab" aria-controls="finish"
				aria-selected="false"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9314;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Selesai&nbsp;</span></a></li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<!-- transaction -->
			<br></br>
			<div class="tab-pane 1 active" id="transaction" role="tabpanel"
				aria-labelledby="transaction-tab">
				<div class="container">
					<div class="row">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label text-left"
									style="text-align: left">SID</label>



								<div class="col-sm-5">

									<div class="inputcontainer">

										<input type="text" ng-model="infoUser.sid" disabled="disabled"
											class="form-control" id="sid" />
										<div class="icon-container" ng-if="infoUser.sid == undefined">
											<i class="loader"></i>
										</div>
									</div>

								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">
									<div class="inputcontainer">
										<input type="text" ng-model="infoUser.nama"
											disabled="disabled" class="form-control" id="namaNasabah" />
										<div class="icon-container" ng-if="infoUser.nama == undefined">
											<i class="loader"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Nama Produk *</label>
								<div class="col-sm-5">
								    <div class="inputcontainer"  ng-show="listSeries == undefined">
										<input type="text" ng-model="infoUser.nama"
											disabled="disabled" class="form-control" id="namaNasabah" />
										<div class="icon-container" ng-if="infoUser.nama == undefined">
											<i class="loader"></i>
										</div>
									</div>
								    
									<div class="inputcontainer"  ng-show="listSeries != undefined">
										<select ng-model="infoUser.seriTerpilih" class="form-control"
											ng-options="res.seri for res in listSeries"
											ng-change="selectedSeri()" non-nulldrop="non-nulldrop">
											<option value="" disabled="disabled" selected="selected">--
												Pilih Produk --</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tingkat Kupon / Imbalan (%)</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tingkatKupon"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Jatuh Tempo</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tglJatuhTempo"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Awal Pemesanan</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tglMulaiPemesanan"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Akhir Pemesanan</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tglAkhirPemesanan"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group">
								<label for="minPes" class="col-sm-3 control-label text-left"
									style="text-align: left">Minimum Pemesanan</label>
								<div class="col-sm-5">
									<input ng-model="infoUser.seriTerpilih.minPemesanan"
										type="text" disabled="disabled" name="minPemesanan"
										format="number" class="form-control" id="minPes" />
								</div>
							</div>

							<div class="form-group">
								<label for="kelipatanPes"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Kelipatan Pemesanan</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.kelipatanPemesanan"
										disabled="disabled" format="number" name="kelipatan"
										class="form-control" id="kelipatanPes" />
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Periode Early Redemption</label>
								<div class="col-sm-5">
								 <div class="inputcontainer">
									<input type="text" ng-model="infoUser.startSettlemen"
										disabled="disabled" class="form-control" id="namaNasabah" />
										<div class="icon-container" ng-if="infoUser.seriTerpilih!=undefined  &amp;&amp; infoUser.startSettlemen == undefined">
											<i class="loader"></i>
										</div>
								 </div>
								</div>
							</div>

							<div class="form-group">
								<label for="sisaKuota" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kuota Investor</label>
								<div class="col-sm-5">
								
								 <div class="inputcontainer">
									<input type="text" disabled="disabled" name="maxPemesanan"
										format="number" ng-model="infoUser.sisaKuotaPemesanan"
										class="form-control" id="sisaKuota" />
										<div class="icon-container" ng-if="infoUser.seriTerpilih!=undefined  &amp;&amp; infoUser.sisaKuotaPemesanan== undefined">
											<i class="loader"></i>
										</div>
								 </div>
									
								</div>
							</div>
							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kuota Nasional</label>
								<div class="col-sm-5">
								
								 <div class="inputcontainer">
									<input type="text" disabled="disabled" format="number"
										ng-model="infoUser.sisaKuotaSeri" class="form-control"
										id="sisaKuotaSeri" />
										<div class="icon-container" ng-if="infoUser.seriTerpilih!=undefined  &amp;&amp; infoUser.sisaKuotaSeri== undefined">
											<i class="loader"></i>
										</div>
								 </div>
									
								</div>
							</div>
							<div class="form-group">
								<label for="subRegNo" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sub Reg No.</label>
								<div class="col-sm-5">
								
								<div class="inputcontainer">
									<input type="text" disabled="disabled"
										ng-model="infoUser.subRegno" class="form-control"
										id="subRegNo" />
										<div class="icon-container" ng-if="infoUser.subRegno== undefined">
											<i class="loader"></i>
										</div>
								 </div>
									
								</div>
							</div>

							<div class="form-group">
							
							
							
								<label for="noRekSurat" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
								
								<div class="inputcontainer">
									<input type="hidden" ng-model="infoUser.rekeningSBTerpilih"
										disabled="disabled" class="form-control" /> <input
										type="text" ng-model="infoUser.rekeningSBTerpilih.noRek"
										disabled="disabled" class="form-control" />
										<div class="icon-container" ng-if="infoUser.rekeningSBTerpilih== undefined">
											<i class="loader"></i>
										</div>
								 </div>
									
								</div>
							</div>

							<div class="form-group">
								<label for="noRekDana" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Dana *</label>
								<div class="col-sm-5">
								
								   <div class="inputcontainer" ng-if="infoUser.rekeningSBTerpilih==undefined">
									<input type="hidden" ng-model="infoUser.rekeningSBTerpilih"
										disabled="disabled" class="form-control" /> <input
										type="text" ng-model="infoUser.rekeningSBTerpilih.noRek"
										disabled="disabled" class="form-control" />
										<div class="icon-container" >
											<i class="loader"></i>
										</div>
								 </div>
								
									<select ng-model="infoUser.rekeningDanaTerpilih" ng-if="infoUser.rekeningSBTerpilih!=undefined"
										class="form-control"
										ng-options="res.noRek for res in infoUser.rekeningDana"
										non-nulldrop="non-nulldrop">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label for="nominal" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nominal *</label>
								<div class="col-sm-5">
									<input type="text" format="number" ng-model="infoUser.nominal"
										class="form-control" id="nominal"
										nominal-validation="nominal-validation" /> <input
										type="hidden" name="validationNominal" />
								</div>
							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Syarat &amp; Ketentuan</label>
								<div class="col-sm-5">
									<!-- 								<a href="https://www.kemenkeu.go.id/media/13040/memorandum-informasi-st005-final.pdf"  -->
									<!-- 								ng-click = "enableTnc()" -->
									<!-- 								target="_blank"><b>Memorandum Informasi Kementerian Keuangan </b> -->
									<!-- 								</a>  -->
									<a
										href="https://www.kemenkeu.go.id/media/13040/memorandum-informasi-st005-final.pdf"
										ng-click="enableTnc()" target="popup"
										onclick="PopupCenter('https://www.kemenkeu.go.id/media/13040/memorandum-informasi-st005-final.pdf','Test Doang','900','500')"><b
										style="color: #4169E1;"><u>Memorandum Informasi</u></b> </a>

									<script type="text/javascript">
								
								function PopupCenter(url, title, w, h) {
								    // Fixes dual-screen position                         Most browsers      Firefox
								    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
								    var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

								    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
								    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

								    var systemZoom = width / window.screen.availWidth;
								var left = (width - w) / 2 / systemZoom + dualScreenLeft
								var top = (height - h) / 2 / systemZoom + dualScreenTop
								    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w / systemZoom + ', height=' + h / systemZoom + ', top=' + top + ', left=' + left);
								
								    // Puts focus on the newWindow
								    if (window.focus) newWindow.focus();
								}
								</script>
									<p />
									<b style="color: red;" ng-if="enableTncDiv">(Untuk
										melanjutkan transaksi, klik memorandum informasi dan mohon
										agar dibaca serta disetujui terlebih dahulu) </b>
									<p />
									<input type="checkbox" style="width: 1.55rem; height: 1.55rem"
										ng-disabled="enableTncDiv" required="required"
										ng-model="checkingDesclaimer" /> <b> Saya menyatakan
										telah: </b>
									<p />
									<div class="form-control"
										style="background: white; height: 100px; overflow-y: scroll;">

										<p ng-bind-html="disclaimer1"></p>
									</div>
								</div>
							</div>
							<!-- 							<div class="form-group"> -->
							<!-- 								<div class="col-sm-8"> -->
							<!-- 									<input type="checkbox" checked="checked" -->
							<!-- 										style="text-align: left; width: 28px; height: 28px" />&nbsp; -->
							<!-- 									<b><label class="custom-control-label" -->
							<!-- 										for="defaultChecked2">Saya setuju dengan Syarat dan -->
							<!-- 											Ketentuan</label></b> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<div class="form-group">
								<div class="col-sm-5">
									<button type="button"
										class="col-sm-5 btn btn-secondary btn-block">
										<strong>Kembali</strong>
									</button>
								</div>
								<div class="col-sm-5">
									<button type="button" ng-click="nextTabs(1,2)"
										class="col-sm-5 btn btn-warning btn-block">
										<strong>Lanjut</strong>
									</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- transaction -->
			<!--confirm  -->
			<div class="tab-pane 2 fade" id="confirm" role="tabpanel"
				aria-labelledby="confirm-tab">
				<div class="container">
					<div class="row">
						<form class="form-horizontal">

							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label text-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.sid" disabled="disabled"
										class="form-control" id="sid" />
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.nama" disabled="disabled"
										class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Nama Produk</label>
								<div class="col-sm-5">
									<select ng-model="infoUser.seriTerpilih" class="form-control"
										ng-options="res.seri for res in listSeries"
										disabled="disabled" ng-change="selectedSeri()">
										<option value="" disabled="disabled" selected="selected">--
											Pilih Produk --</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Nama Produk</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.seriTerpilih"
										class="form-control" disabled="disabled" /> <input
										type="text" ng-model="infoUser.seriTerpilih.seri"
										class="form-control" disabled="disabled" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tingkat Kupon</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tingkatKupon"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Jatuh Tempo</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.frekuensiKupon"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Terbit</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tglMulaiPemesanan"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Akhir</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.tglAkhirPemesanan"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Periode Pencairan</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.startSettlemen	"
										disabled="disabled" class="form-control" id="namaNasabah" />
								</div>
							</div>
							<div class="form-group" ng-if="false">
								<label for="minPes" class="col-sm-3 control-label text-left"
									style="text-align: left">Minimum Pemesanan</label>
								<div class="col-sm-5">
									<input ng-model="infoUser.seriTerpilih.minPemesanan"
										type="text" disabled="disabled" format="number"
										class="form-control" id="minPes" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="kelipatanPes"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Kelipatan Pemesanan</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.kelipatanPemesanan"
										disabled="disabled" format="number" class="form-control"
										id="kelipatanPes" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="sisaKuota" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kuota seri Pemesanan
									Nasabah</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" format="number"
										ng-model="infoUser.sisaKuotaPemesanan" class="form-control"
										id="sisaKuota" />
								</div>
							</div>
							<div class="form-group" ng-if="false">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kuota Nasional</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" format="number"
										ng-model="infoUser.sisaKuotaSeri" class="form-control"
										id="sisaKuotaSeri" />
								</div>
							</div>
							<div class="form-group">
								<label for="subRegNo" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sub Reg No.</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="infoUser.subRegno" class="form-control"
										id="subRegNo" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="noRekSurat" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<select ng-model="infoUser.rekeningSBTerpilih"
										disabled="disabled" class="form-control"
										ng-options="res.noRek for res in infoUser.rekeningSB">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="noRekSurat" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.rekeningSBTerpilih"
										disabled="disabled" class="form-control" /> <input
										type="text" ng-model="infoUser.rekeningSBTerpilih.noRek"
										disabled="disabled" class="form-control" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="noRekDana" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Dana</label>
								<div class="col-sm-5">
									<select ng-model="infoUser.rekeningDanaTerpilih"
										disabled="disabled" class="form-control"
										ng-options="res.noRek for res in infoUser.rekeningDana">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="noRekDana" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Dana</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.rekeningDanaTerpilih"
										disabled="disabled" class="form-control" /> <input
										type="text" ng-model="infoUser.rekeningDanaTerpilih.noRek"
										disabled="disabled" class="form-control" />
								</div>
							</div>





							<div class="form-group">
								<label for="nominal" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nominal</label>
								<div class="col-sm-5">
									<input type="text" ng-disable="true" format="number"
										ng-model="infoUser.nominal" class="form-control" id="nominal"
										disabled="disabled" />

								</div>
							</div>

							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Kode Verifikasi</label>
								<div class="col-sm-3">
									<input type="text" class="form-control"
										ng-model="infoUser.myOtp" />
								</div>
								<div class="col-sm-2">

									<button class="col-sm-1 btn btn-success btn-block"
									ng-disabled="enableButton"
										ng-click="callOtp('transaksiPemesanan','')">
										<b>Minta Kode OTP {{myTimer}}</b>
									</button>
								</div>

							</div>
							<div class="form-group">
								<div class="col-sm-5">
									<button type="button" ng-click="beforeTabs(2,1)"
										class="col-sm-5 btn btn-secondary btn-block">
										<strong>Kembali</strong>
									</button>
								</div>
								<div class="col-sm-5">
									<button type="button"
										class="col-sm-5 btn btn-warning btn-block" data-toggle="modal"
										data-target="#verify">
										<strong>Lanjut</strong>
									</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>


			<div class="modal fade" id="verify" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">Apakah data Anda sudah valid?</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="saveTransaction()" data-toggle="modal"
								data-target="#loading" data-dismiss="modal">
								<i class="fa fa-check"></i> Ya
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Kembali
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="loading" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="width: 108%">


						<div class="modal-body" ng-if="itsLoading.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsLoading.invalidModal">
							{{reason}}</div>
						<div class="modal-body" ng-if="itsLoading.validModal"
							style="text-align: justify;">
							<p ng-bind-html="reason"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="okLoading()" data-dismiss="modal" data-toggle="modal"
								ng-if="itsLoading.validModal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								ng-if="itsLoading.invalidModal" data-dismiss="modal"
								data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--confirm  -->
			<!-- finish -->
			<div class="tab-pane 3 fade" id="finish" role="tabpanel"
				aria-labelledby="finish-tab">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<h4>
								<span class="text-bold">Detail Transaksi</span>
							</h4>
						</div>
						<br></br>
						<hr style="border-color: #b9b9b9; display: block;"></hr>
						<form class="form-horizontal">
							<div class="form-group">
								<label for="kodebilling"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Kode Billing</label>
								<div class="col-sm-5">
									<span id="kodebilling">: &nbsp;
										{{resultSave.KodeBilling}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Batas Waktu Pembayaran</label>
								<div class="col-sm-5">
									<span id="nameNas">: &nbsp;
										{{resultSave.BatasWaktuBayar}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label pull-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<span id="sid">: &nbsp; {{resultSave.Sid}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">
									<span id="nameNas">: &nbsp; {{resultSave.NamaInvestor}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="namePro" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Produk</label>
								<div class="col-sm-5">
									<span id="namePro">: &nbsp; {{resultSave.Seri}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="noPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nomor Pemesanan</label>
								<div class="col-sm-5">
									<span id="noPes">: &nbsp; {{resultSave.KodePemesanan}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nom" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nominal</label>
								<div class="col-sm-5">
									<span id="nom">: &nbsp; IDR {{resultSave.Nominal}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">No. Rekening Dana</label>
								<div class="col-sm-5">
									<span id="nameNas">: &nbsp;
										{{resultSave.RekeningDana.NoRek}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">No Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<span id="nameNas">: &nbsp;
										{{resultSave.RekeningSB.NoRek}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sub Reg No.</label>
								<div class="col-sm-5">
									<span id="nameNas">: &nbsp; {{infoUser.subRegno}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Status Pemesanan</label>
								<div class="col-sm-5">
									<span id="nameNas" class="text-bold">: &nbsp;
										{{resultSave.Status}}</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10">
									<span id="nameNas" class="text-bold"> Segera lakukan
										pembayaran sebelum Batas Waktu Pembayaran. Jika tidak
										dilakukan pembayaran, maka pemesanan secara otomatis
										batal/menjadi kadaluarsa dan kuota akan kembali setelah 2 hari
										kerja. </span>
								</div>
							</div>


						</form>
					</div>
					<div class="form-group">
						<h4>
							<span class="text-bold">Cara Pembayaran</span>
						</h4>
					</div>
					<!--cara bayar-->
					<div class="accordion-option">
						<a href="javascript:void(0)" class="toggle-accordion active"
							accordion-id="#accordion"></a>
					</div>
					<div class="clearfix"></div>
					<div class="panel-group col-md-10" id="accordion" role="tablist"
						aria-multiselectable="true">

						<!-- 						<div class="panel panel-default"> -->
						<!-- 							<div class="panel-heading" role="tab" id="headingTwo"> -->
						<!-- 								<h4 class="panel-title"> -->
						<!-- 									<span class="collapsed text-bold btn btn-block" role="button" -->
						<!-- 										data-toggle="collapse" data-parent="#accordion" -->
						<!-- 										href="#collapseTwo" aria-expanded="true" -->
						<!-- 										style="text-align: left;" aria-controls="collapseTwo"> -->
						<!-- 										Cara Pembayaran Melalui Mega Smart Mobile (Mobile Banking) </span> -->
						<!-- 								</h4> -->
						<!-- 							</div> -->
						<!-- 							<div id="collapseTwo" class="panel-collapse collapse in" -->
						<!-- 								role="tabpanel" aria-labelledby="headingTwo"> -->
						<!-- 								<div class="panel-body"> -->
						<!-- 									<p ng-bind-html="disclaimer3"></p> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<span class="collapsed text-bold btn btn-block" role="button"
										data-toggle="collapse" data-parent="#accordion"
										href="#collapseThree" aria-expanded="true"
										style="text-align: left;" aria-controls="collapseThree">
										Cara Pembayaran Melalui Kantor Cabang</span>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse in"
								role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
								<div style="text-align: justify;">
								<p ng-bind-html="disclaimer4"></p>
								</div>
									
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<span role="button" data-toggle="collapse"
										style="text-align: left;" class="text-bold btn btn-block"
										data-parent="#accordion" href="#collapseOne"
										aria-expanded="false" aria-controls="collapseOne"> Cara
										Pembayaran Melalui ATM </span>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<p ng-bind-html="disclaimer2"></p>
								</div>
							</div>
						</div>
					</div>
					<!--cara bayar-->
				</div>
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td valign="top"><b>*</b></td>


						<td style="text-align: justify;"><b>Jika nominal
								pemesanan melebihi limit transaksi harian pembayaran, Nasabah
								dapat melakukan pembayaran melalui teller kantor cabang Bank
								Mega atau melakukan pembayaran menggunakan ATM dengan membagi
								beberapa pemesanan di hari yang berbeda dan menyesuaikan Limit
								Transaksi harian. </b></td>
					</tr>
				</table>
			</div>
			<!-- finish -->
		</div>
	</div>
</body>
</html>