<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" oncontextmenu="return false">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>ESBN | Login</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.css" />
<!-- iCheck -->
<link rel="stylesheet" href="plugins/iCheck/square/blue.css" />
<link href="style/captcha-custom.css" rel="stylesheet" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/registrationController.js"></script>
<link href="assets/datepicker-google-lapis/datepicker.css" rel="stylesheet" type="text/css" /> 
<script src="assets/datepicker-google-lapis/datepicker.js"></script>
<script src="assets/datepicker-google-lapis/datepicker-ui.js"></script> 
<script src="assets/datepicker-google-lapis/ajax-datepicker-google-lapis.js"></script> 
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />

</head>
<body ng-app="registrationController" 
 ng-controller="requestLogin"
class="hold-transition" background="dist/img/background-2.jpg">
<!-- style="background-color: #F59C00;" -->

	<div class="text-center">
		<img style="width: 130px; height: 130px;"
			src="file/images/Bank_Mega_2013.svg" alt="sunil" class="rounded" />
	</div>



	<section class="title-banner py-4 bg-success text-white"
		style="position: relative; top: -10px;" id="title-banner">
		<div class="container">
			<div class="row"
				style="text-align: center; position: relative; top: 10%;">
				<h4>Selamat Datang di e-SBN Bank Mega</h4>

			</div>
		</div>
	</section>

	<div class="container" style="top: 50px; position: relative;">
		<div class="row">
			<div class="col-sm-5">
				<div class="login-box">
					<div class="login-box-body">
						<!-- Start Carousel-->
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner">

								<div class="item active">
								<a  th:href="@{/faq}" target="_blank">
								<img src="dist/img/carousel/faq.jpg" alt="Los Angeles"
										style="width: 100%;"/>
								</a>
								</div>

								<div class="item">
									<img src="dist/img/carousel/Obligasi.jpg" alt="Chicago"
										style="width: 100%; height: 100%;" />
									<!--         <div class="carousel-caption"> -->
									<!--           <h3>Chicago</h3> -->
									<!--           <p>Thank you, Chicago!</p> -->
									<!--         </div> -->
								</div>

								<div class="item">
									<img src="dist/img/carousel/sbn.jpg" alt="New York"
										style="width: 100%;" />
									<!--         <div class="carousel-caption"> -->
									<!--           <h3>New York</h3> -->
									<!--           <p>We love the Big Apple!</p> -->
									<!--         </div> -->
								</div>

							</div>

							<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel"
								data-slide="prev"> <span
								class="glyphicon glyphicon-chevron-left"></span> <span
								class="sr-only">Previous</span>
							</a> <a class="right carousel-control" href="#myCarousel"
								data-slide="next"> <span
								class="glyphicon glyphicon-chevron-right"></span> <span
								class="sr-only">Next</span>
							</a>
						</div>
						<!-- End Carousel-->

					</div>
				</div>
			</div>

			<div class="col-sm-7">
				<div class="login-box" >
					<!-- /.login-logo -->
					<div class="login-box-body" style="border-radius: 10px; ">
						<p class="login-box-msg"
							style="border-radius : 10px;   width: 100%; height: 10px; background: orange; margin-bottom: 10px;">
							Login SBN Ritel Online Bank Mega</p>

						<div th:if="${param.error}">
							<div class="callout callout-danger">
								<p>{{errorText}}</p>
							</div>
						</div>	
						<form th:action="@{/login}" method="post">
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<div class="form-group has-feedback">
								<input type="text" class="form-control" name="username"
									placeholder="SID" style="padding: 5px 5%;border:1px solid #ccc;	border-radius: 27px;"/> <span
									class="glyphicon glyphicon-user form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<input type="password" class="form-control" name="password"
									placeholder="Password"  style="padding: 5px 5%;border:1px solid #ccc;	border-radius: 27px;"/> <span
									class="glyphicon glyphicon-lock form-control-feedback"></span>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<button type="submit"   style="padding: 5px 5%;border:1px solid #ccc;	border-radius: 27px;"
										class="btn btn-primary btn-block btn-flat">Login</button>
								</div>
							</div>
						</form>

						<div class="card-footer"
							style="text-align: center; margin-top: 20px;">
							<div class="d-flex justify-content-center links">
								Belum punya akun?<a href="#" data-target="#signup1"
									data-toggle="modal"> Daftar Disini</a>
							</div>
							<div class="d-flex justify-content-center">
								<a href="#" data-target="#forgotPassword" data-toggle="modal">Lupa
									Password?</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


	<div >
		<div>


			<div class="modal fade" id="signup1" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="text-center">
								<img style="width: 50px; height: 50px;"
									src="file/images/Bank_Mega_2013.svg" alt="sunil"
									class="rounded" />
							</div>
							<h5 class="modal-title" id="exampleModalLabel">Registrasi
								Akun </h5>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<form action="#" class="form" role="form" id="login-nav">
										<div class="form-group">
											<b>Single Investor Identification (SID) * </b> 
											<input type="text" class="form-control"
												ng-model="myData.sid" placeholder="SID" />
										</div>
										<div class="form-group">
											<b>Tanggal Lahir. </b> 
											<input type="text" class="form-control" ng-model = "myData.dateBirth" 
													placeholder="DD/MM/YYYY" id="datepicker"
													datepicker="datepicker"/>
											<script type="text/javascript">
												$("#datepicker").datepicker({
												dateFormat : 'dd/mm/yy'		
												});
											</script>
									</div>
									<div class="form-group">
											<label>* Jika belum memiliki SID, silahkan datang ke kantor Cabang terdekat Bank Mega </label> 
										</div>
									</form>		
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="callMyIdentity(myData)" data-dismiss="modal"
								data-target="#signup2" data-toggle="modal">
								<i class="fa fa-arrow-right"></i> Lanjut
							</button>
							<button type="button" class="btn btn-secondary"
								ng-click="cancelRegist()" data-dismiss="modal">
								<i class="fa fa-times"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="signup2" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="overflow-y: scroll;">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<div class="text-center">
									<img style="width: 50px; height: 50px;"
										src="file/images/Bank_Mega_2013.svg" alt="sunil"
										class="rounded" />
								</div>
								Registrasi Akun
							</h5>
						</div>
						<div class="modal-body" ng-if="itsValidIdentity.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsValidIdentity.invalidModal">
							{{reasonError}}</div>
						<div class="modal-body" ng-if="itsValidIdentity.validModal">
							<div class="row">
								<div class="col-md-12">
									<form class="form" role="form" id="login-nav">
										<div class="form-group">
											<b>SID. </b> <input type="text" class="form-control"
												disabled="disabled" required="required" placeholder="SID*"
												ng-model="myData.sid" />
										</div>
										<div class="form-group">
											<b>Tanggal lahir. </b> <input type="text"
												class="form-control" ng-model="myData.dateBirth"
												placeholder="Tanggal lahir" disabled="disabled" />
										</div>
										<div class="form-group">
											<b>NIK. E-KTP* </b> <b><i style="color:red;"> Pastikan NIK E-KTP
													Anda sudah benar. Jika belum silahkan ubah</i></b> <input
												type="text" class="form-control" required="required" style="font-weight:bold;"
												placeholder="NIK. E-KTP*" ng-model="ektpRegist" />
										</div>
									</form>
									<div class="form-group">

										<br></br>
										<div class="capbox">

											<div id="CaptchaDiv">

												<div class="row">
													<div
														style="text-align: center; vertical-align: middle; font-size: 1.7em; line-height: 90px; filter: blur(2.6px);">{{captchaEscape}}</div>
												</div>

											</div>

											<div class="capbox-inner">
											         <input type="text" ng-model="yourCaptcha" size="15" 
													  ng-change="checkCaptcha('signup1',captchaEscape,yourCaptcha,checking)"/>
                                             
												<button ng-click="generateCaptcha('signup1')">
													<span class="glyphicon glyphicon-refresh"></span>
												</button>
												
												<div style="color:red;" ng-if="emptyCaptcha">Mohon Isi Captcha</div>
												<div style="color:red;" ng-if="wrongCaptcha">Pastikan Captcha Benar</div>
												<br></br>

											</div>
										</div>
										<br /> <br />

									</div>
<!-- 									<div class="form-group"> -->
<!-- 									<div style="color:red;" ng-if="!checking">pastikan Anda telah membaca dan mencentang isi dari pernyataan persetujuan</div> -->
<!-- 									<div class="form-control" style="background: white; height: 100px; overflow-y: scroll;"> -->
								
<!-- 								        <p ng-bind-html="disclaimer1"></p> -->
<!-- 										<b> -->
<!-- 										    <input type="checkbox" required="required"  -->
<!-- 								              ng-change="checkCaptcha('signup1',captchaEscape,yourCaptcha,checking)"  -->
<!-- 							                  ng-model="checking" /> -->
<!-- 						                    	Saya menyatakan telah: -->
<!-- 										</b> -->
<!-- 										 <p ng-bind-html="disclaimer2"></p> -->
									
<!-- 								    </div> -->
<!-- 									</div> -->

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"  ng-if="itsValidIdentity.validModal"
								data-dismiss="modal" data-target="#signup3" data-toggle="modal"
								ng-disabled="button1">
								<i class="fa fa-arrow-right"></i> Lanjut
							</button>
							<button type="button" class="btn btn-secondary" 
								 data-dismiss="modal" ng-click="cancelRegist()" >
								<i class="fa fa-times"></i> Batal
							</button>
<!-- 							<button type="button" class="btn btn-secondary"  ng-if="itsValidIdentity.invalidModal" -->
<!-- 								 data-dismiss="modal" data-target="#signup1"  data-toggle="modal"> -->
<!-- 								<i class="fa fa-times"></i> Ok -->
<!-- 							</button> -->
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="signup3" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Buat Password</h5>
						</div>
						<div class="modal-body">

							<form class="form" role="form" id="login-nav">
								<div class="form-group">
									<b>Password Baru </b> <input type="password"
										class="form-control" required="required"
										ng-model="myData.newPass" />
								</div>
								<div class="form-group">
									<b>Konfirmasi Password* </b> <input type="password"
										class="form-control" ng-model="myData.confirmPass" />
								</div>
								<div class="form-group">
									<b>Kode Verifikasi </b> <input type="password"
										class="form-control" ng-model="myData.otpChecker" />
									<button class="col-sm-1 btn btn-success btn-block" ng-disabled="enableButton"
										ng-click="sendOtpPlease(ektpRegist)" data-toggle="modal"
										data-target="#signup4"><b>Minta kode verifikasi {{myTimer}} </b></button>
								</div>
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="saveMySid(myData)" data-toggle="modal" 
								data-target="#finalSave">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								ng-click="cancelRegist()" data-dismiss="modal">
								<i class="fa fa-times"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="forgotPassword" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Lupa Password</h5>
						</div>
						<div class="modal-body">

							<form class="form" role="form" id="login-nav">
								<div class="form-group">
									<b>SID </b> <input type="text" class="form-control"
										required="required" ng-model="myDataForgot.sid" />
								</div>
								<div class="form-group">
									<b>Password Baru </b> <input type="password"
										class="form-control" required="required"
										ng-model="myDataForgot.newPass" />
								</div>
								<div class="form-group">
									<b>Konfirmasi Password* </b> <input type="password"
										class="form-control" ng-model="myDataForgot.confirmPass" />
								</div>
								<div class="form-group">
									<b>Kode Verifikasi </b> <input type="password"
										class="form-control" ng-model="myDataForgot.otpChecker" />
									<button class="col-sm-1 btn btn-success btn-block"
										ng-click="sendOtpPleaseForgot(myDataForgot.sid)"
										data-toggle="modal" data-target="#signup4"><b>Minta kode
										verifikasi</b></button>
								</div>
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="saveForgotPassword()" data-toggle="modal"
								data-target="#finalForgotSave">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								ng-click="cancelRegist()" data-dismiss="modal"
								data-toggle="modal">
								<i class="fa fa-times"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="finalForgotSave" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body" ng-if="itsWinningSave.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsWinningSave.invalidModal">
							{{reasonInvalid}}</div>
						<div class="modal-body" ng-if="itsWinningSave.validModal">
							Anda Berhasil Mengganti Password Anda. Anda dapat kembali Login</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							     ng-if="itsWinningSave.validModal"
							     data-dismiss="modal" data-target="#forgotPassword" data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
							      ng-if="itsWinningSave.invalidModal"
							     data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="finalSave" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body" ng-if="itsWinningSave.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsWinningSave.invalidModal">
							{{reasonInvalid}}</div>
						<div class="modal-body" ng-if="itsWinningSave.validModal">
							Data Berhasil Disimpan. Anda dapat melakukan login</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
							     ng-if="itsWinningSave.validModal"
							     data-dismiss="modal" data-target="#signup3" data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
							      ng-if="itsWinningSave.invalidModal"
							     data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="signup4" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header" ng-if="itsSendEmail.validModal">
							<h5 class="modal-title" id="exampleModalLabel">
								<b>Kode Verifikasi telah kami kirimkan ke email <b>{{ myData.email | masking}}</b>
								</b>
							</h5>
						</div>
						<div class="modal-body" ng-if="itsSendEmail.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsSendEmail.invalidModal">
							{{response}}</div>
						<div class="modal-body" ng-if="itsSendEmail.validModal">Mohon
							ke kantor Cabang Bank Mega terdekat untuk perbarui data Anda apabila sudah tidak
							menggunakan email tersebut</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="okOtp()" data-dismiss="modal"  data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



	<!-- jQuery 2.2.0 -->
	<script src="plugins/jQuery/jQuery-2.2.0.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="bootstrap/js/bootstrap.min.js"></script>








</body>
</html>