body {
  background: #efefef;
}
.ac {
  background: #efefef;
}
.ac .ac-starting-header {
  text-align: left;
  position: relative;
}
.ac .ac-starting-header-inner {
  height: 80px;
  position: relative;
}
.ac .ac-starting-header-inner h1 {
  font-size: 40px;
  color: #363636;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}
.ac .ac-starting-main {
  width: 900px;
  margin: 40px auto;
}
.ac .view-header-title {
  padding: 20px 0px 0px 32px;
}
.ac .view-header-volume-title {
  padding: 0px 0px 0px 32px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin: 0px;
  color: #999;
}
.ac .ac-pre-login {
  text-align: center;
  margin-top: 10%;
}
.ac .ac-pre-login .ac-pre-login-inner {
  margin: 0px auto;
  width: 450px;
  text-align: left;
}
.ac .ac-pre-login .ac-pre-login-content {
  margin: 0px 0px 0px 170px;
  padding-top: 40px;
}
.ac .ac-pre-login .ac-pre-login-content h1 {
  margin: 0px;
  padding: 0px;
  color: #aaa;
  font-size: 19px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 600;
}
.ac .ac-pre-login .ac-pre-login-content h2 {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-size: 44px;
  line-height: 44px;
  font-weight: 300;
}
.ac .ac-pre-login .ac-pre-login-content .btn-pre-login {
  margin-top: 16px;
  min-width: 155px;
  height: 38px;
  font-size: 16px;
}
.ac ul.ac-landing-page-app-items {
  margin-top: 50px;
  list-style: none;
}
.ac ul.ac-landing-page-app-items li {
  display: inline-block;
  position: relative;
  float: left;
  width: 280px;
  text-align: center;
  cursor: pointer;
}
.ac ul.ac-landing-page-app-items li img {
  width: 172px;
  height: 197px;
  opacity: 1;
}
.ac ul.ac-landing-page-app-items li .ac-landing-page-app-items-detail h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin: 20px 0px 6px 0px;
  color: #555;
}
.ac ul.ac-landing-page-app-items li .ac-landing-page-app-items-detail .ac-landing-page-app-item-desc {
  color: #999;
  font-size: 15px;
  line-height: 18px;
  margin: 4px 50px 20px 50px;
}
.ac ul.ac-landing-page-app-items li .ac-landing-page-app-items-detail .ac-landing-page-app-item-list-icon {
  font-size: 30px;
  margin: 0px 0px 0px 10px;
  line-height: 30px;
  cursor: pointer;
  color: #464646;
}
.ac ul.ac-landing-page-app-items li.inactive img {
  opacity: .7;
}
.ac .ac-admin-area {
  margin: 20px 20px 100px 100px;
}
.ac .ac-admin-area ul {
  list-style: none;
  position: relative;
  clear: both;
  height: 100px;
  margin: 10px 0px 20px 0px;
}
.ac .ac-admin-area ul li {
  position: relative;
  float: left;
}
.ac .ac-admin-area ul li.app-icon {
  width: 80px;
  padding-top: 16px;
}
.ac .ac-admin-area ul li.app-item {
  width: 330px;
  height: 100px;
  cursor: pointer;
  background: #f7f7f7;
  border: #ccc 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 30px;
}
.ac .ac-admin-area ul li.app-item > i {
  position: absolute;
  font-size: 40px;
  color: #777;
  top: 24px;
  left: 10px;
}
.ac .ac-admin-area ul li.app-item .app-item-desc {
  margin: 18px 10px 0px 70px;
}
.ac .ac-admin-area ul li.app-item .app-item-desc h3 {
  color: #525252;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0px 0px 4px 0px;
}
.ac .ac-admin-area ul li.app-item .app-item-desc p {
  font-size: 14;
  font-weight: 300;
  line-height: 18px;
  color: #878787;
}
.ac .ac-admin-area ul li.app-item:hover {
  border: #aaa 1px solid;
  background: #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.ac .ac-admin-area ul li.app-item:hover > i.blue-hover {
  color: #238dce;
}
.ac .ac-admin-area ul li.app-item:hover > i.green-hover {
  color: #7baa16;
}
.ac .ac-admin-area ul li.app-item:hover > i.orange-hover {
  color: #ff7e00;
}
.ac .ac-admin-area ul li.app-item:hover > i.seafoam-hover {
  color: #4cd38f;
}
.ac .btn-starting {
  border: none;
  outline: none;
  padding: 32px 64px 0px 0px;
  margin: 0px;
  color: #818181;
  font-size: 16px;
  background: none;
}
.ac .btn-starting:hover {
  color: #000;
}
.ac .btn-starting i {
  color: #353535;
}
.ac .admin-back-icon {
  color: #c1c1c1;
  cursor: pointer;
}
.ac .admin-back-icon:hover {
  color: #363636;
}
.ac .admin-icon {
  color: #e16252;
}
.ac ul.ac-starting-app-items {
  list-style: none;
  padding: 20px 0px 0px 32px;
  margin: 0px;
  position: relative;
  *z-index: -1;
}
.ac ul.ac-starting-app-items li {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 16px;
}
.ac ul.ac-starting-app-items li i {
  font-size: 16px;
  margin: 0px;
  padding: 12px 0px 0px 0px;
  width: 28px;
  height: 28px;
  line-height: 31px;
  text-align: center;
}
.ac ul.ac-starting-app-items .divider {
  width: 1px;
  height: 32px;
  border-right: #e0e0e0 1px solid;
  padding-top: 6px;
}
.ac .ac-starting-right-header-title {
  position: absolute;
  right: 32px;
  text-align: right;
  color: #c2c2c2;
  font-weight: 600;
  font-size: 16px;
  padding-top: 32px;
  margin: 0px;
}
.ac .launchpad-product-list {
  text-align: center;
  display: none;
}
.ac .launchpad-product-list.open {
  display: block;
}
.ac .launchpad-product-list h2 {
  color: #797979;
  font-size: 18px;
  line-height: 18px;
  background: url(../img/ihub/sub-icon-title-bg.png) repeat-x;
  width: 1000px;
  margin: 0px auto;
  text-transform: uppercase;
}
.ac .launchpad-product-list h2 .backline {
  background: #efefef;
  padding: 0px 32px;
}
.ac .launchpad-product-list ul {
  color: #797979;
  list-style: none;
  text-align: center;
}
.ac .launchpad-product-list ul li {
  width: 150px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.ac .launchpad-product-list ul li .launchpad-product-list-icon {
  font-size: 42px;
  margin-top: 20px;
  color: #555;
}
.ac .launchpad-product-list ul li .launchpad-product-list-desc {
  text-transform: uppercase;
  color: #28243a;
  font-weight: 300;
  margin-top: 18px;
  font-size: 13px;
}
